$primary: #9961df;
$secondary: #ce7d4b; 



*
{
    font-family: raleway;
}

#container
{
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


    header
    {
        background-color: rgba(0, 0, 0, 0.118);
        display: flex;
        flex-direction: row;
        align-content: center;
        height: 110px;
        width: 100%;

        i 
        {
            font-size: 30px;
            margin-left: 30px;
        }

        #main_logo
        {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 40%;
            object-fit: contain;
        }

        a 
        {
            display: flex;
            align-content: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            text-decoration: none;
            color: black;
            font-size: medium;
            font-weight: 600;
        }

        #vide 
        {
            width: 10%;
        }
    }
    
    h1 
    {   width: 100%;
        text-align: center;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: 500;
    }

    #all_products 
    {
        display: flex;
        flex-direction: column;

        #empty_basket 
        {
            text-align: center;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 60px;
        }

        .product_container
        {
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            width: 85%;
            justify-content: space-between;
            align-items: center;

            .name_of_product
            {
                width: 27%;
                font-size: 15px;
                font-weight: 600;
               
            }

            .image_of_product
            {
                width: 25%;
                border-radius: 5px;
            }

            .price_of_product
            {
                font-size: 15px;
                font-weight: 600;
            }

            .quantities
            {
                width: 20%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn_less 
                {
                    text-align: center;
                    transition-duration: 0.2s;
                    width: 15%;
                    cursor: pointer;
                    color: $primary;
                    font-size: 20px;
                    border: none;
                    background-color: white;


                    &:hover
                    {
                        transition-duration: 0.2s;
                        font-size: 25px;
                    }
                }

                p 
                {
                    margin-left: 15px;
                    font-weight: 600;
                    font-size: 15px;
                }

            

                .btn_plus
                {
                    text-align: center;
                    transition-duration: 0.2s;
                    width: 15%;
                    cursor: pointer;
                    color: $secondary;
                    font-size: 20px;
                    border: none;
                    background-color: white;

                    &:hover
                    {
                        transition-duration: 0.2s;
                        font-size: 25px;
                    }
                }
            }

            
        }
    }


    #total
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #total_price
        {
            text-align: center;
            width: 30%;
            font-weight: 500;
        }

    }


    #modal
    {
        
        background-color: blanchedalmond;
        width: 100%;
        margin-top: 50px;
        height: 35em;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        border-radius: 15px;
        margin-bottom: 50px;
    


        h2 
        {
            font-size: 20px;
            font-weight: 500;
            text-align: center;
        }

        h3 
        {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }

        
        .inputs 
        {
            width: 50%;
            margin-left: auto;
            margin-right: auto;

            input
            {
                width: 100%;
                margin-bottom: 12px;
                
         
            }
        }

        .error
        {
           animation: shake .1s linear; 
           animation-iteration-count: 3;
           border: 1px solid red;
        }

        #confirm
        {
            border: none;
            cursor: pointer;
            width: 30%;
            background: linear-gradient(#9a61dfdb, #ce7d4bcd);
            padding: 10px;
            font-size: 15px;
            font-weight: 700;
            border-radius: 20px;
            margin-top: 30px; 
            margin-left: 35%;
            margin-bottom: 50px; 
        }
        
        
    }


 

    footer 
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        background-color: rgb(28, 28, 28);
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

        p
        {
            margin-top: 25px;
            margin-left: 5%;
            margin-right: 5%;
            color: $secondary;
            font-weight: 600;
        }

        input 
        {
            width: 40%;
            height: 20px;
            margin-left: 50px;
            margin-top: 10px;
        }

        #social
        {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;

            i 
            {
                padding: 30px;
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }
    }

}
