$primary: #9961df;
$secondary: #ce7d4b; 

*
{
    font-family: raleway;
}



#container
{
    max-width: 1200px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;


    header
    {
        background-color: rgba(0, 0, 0, 0.118);
        display: flex;
        flex-direction: row;
        align-content: center;
        height: 110px;
        width: 100%;

        i 
        {
            font-size: 22px;
            margin-left: 5%;
        }

        #main_logo
        {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 40%;
            object-fit: contain;
        }

        a 
        {
            width: 30%;
            display: flex;
            align-content: center;
            justify-content: center;
            margin-top: auto;
            margin-bottom: auto;
            margin-right: 5%;
            text-decoration: none;
            color: black;
            font-weight: 600;

            #panier
            {
                width: 20%;
                height: 42px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                text-align: center;


                #basket_logo
                {
                    object-fit: scale-down;
                    width: 80%;
                }

                #cart
                {
                    background-color: #9961df;
                    border-radius: 50%;
                    margin-bottom: 10px;
                    margin-top: -10px;

                    #number_of_items 
                    {
                        color:white;
                        position: relative;
                        top: -27px;
                        padding: 15px;
                        font-size: 20px;
                    }
        
                }
            }
        }
    }

    #custom_product
    {
        width: 90%;
        height: auto;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(#9a61df9c, #ce7d4b8e);
        border-radius: 30px;
        display: flex;
        flex-direction: column;

        h1 
        {
            margin-left: 30px;
        }

        img 
        {
            width: 50%;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        h2 
        {
            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            font-size: 18px;
        }

        h3 
        {
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
            font-size: 18px;
        }


        .select_varnish
        {
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
        }

        p
        {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
        }

    }

    button 
    {
        border: none;
        cursor: pointer;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(#9a61dfdb, #ce7d4bcd);
        padding: 10px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 20px;
        margin-bottom: 50px;
        margin-top: 45px;
    }

    footer 
    {
        display: flex;
        flex-direction: column;
        width: 90%;
        background-color: rgb(28, 28, 28);
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

        p
        {
            margin-top: 25px;
            margin-left: 5%;
            margin-right: 5%;
            color: $secondary;
            font-weight: 600;
        }

        input 
        {
            width: 40%;
            height: 20px;
            margin-left: 50px;
            margin-top: 10px;
        }

        #social
        {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;

            i 
            {
                padding: 30px;
                font-size: 20px;
                color: rgb(255, 255, 255);
            }
        }
    }
}

